In [13]:
import numpy as np
import pandas as pd

In [14]:
dict = {
    "Category": ["Dress", "Clothing", "Shoes", "Accessories", "Shoes", "Clothing", "Accessories", "Accessories", "Shoes", "Clothing"],
    "Product" : ["Sweater", "T-shirt", "Sandals", "Earrings", "Sneakers", "Pants", "Necklace", "Ring", "Boots", "Jacket"],
    "Price" : [300,180,450,50,700,400,150,80,850,900]
    }

In [15]:
df = pd.DataFrame(dict)

In [20]:
df["Category"][2]

'Shoes'

In [21]:
df["Product"][2]

'Sandals'

In [22]:
df[4:10]

      Category   Product  Price
4        Shoes  Sneakers    700
5     Clothing     Pants    400
6  Accessories  Necklace    150
7  Accessories      Ring     80
8        Shoes     Boots    850
9     Clothing    Jacket    900

In [23]:
df["Product"][1:6]

1     T-shirt
2     Sandals
3    Earrings
4    Sneakers
5       Pants
Name: Product, dtype: object

In [24]:
df

      Category   Product  Price
0        Dress   Sweater    300
1     Clothing   T-shirt    180
2        Shoes   Sandals    450
3  Accessories  Earrings     50
4        Shoes  Sneakers    700
5     Clothing     Pants    400
6  Accessories  Necklace    150
7  Accessories      Ring     80
8        Shoes     Boots    850
9     Clothing    Jacket    900

In [31]:
df[df["Category"] == "Dress"]

  Category  Product  Price
0    Dress  Sweater    300

In [33]:
df[df["Category"] == "Accessories"]

      Category   Product  Price
3  Accessories  Earrings     50
6  Accessories  Necklace    150
7  Accessories      Ring     80

In [35]:
df[df["Category"] == "Shoes"]

  Category   Product  Price
2    Shoes   Sandals    450
4    Shoes  Sneakers    700
8    Shoes     Boots    850

In [37]:
df[df["Category"] == "Clothing"][df["Price"] > 300]

C:\Users\Mustafa\AppData\Local\Temp\ipykernel_1252\2403353843.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Category"] == "Clothing"][df["Price"] > 300]

   Category Product  Price
5  Clothing   Pants    400
9  Clothing  Jacket    900

In [38]:
df[df["Category"] == "Shoes"][df["Price"] < 600]

C:\Users\Mustafa\AppData\Local\Temp\ipykernel_1252\659312779.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Category"] == "Shoes"][df["Price"] < 600]

  Category  Product  Price
2    Shoes  Sandals    450

In [40]:
df[df["Category"] == "Accessories"][df["Price"] > 100]

C:\Users\Mustafa\AppData\Local\Temp\ipykernel_1252\1602387613.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Category"] == "Accessories"][df["Price"] > 100]

      Category   Product  Price
6  Accessories  Necklace    150